.parent {
    margin: 100px 80px 20px 210px;
}

.admn_optn {
    background-color: rgb(52, 68, 68);
    height: 500px;
    width: 525px;
    border-radius: 7px;
    float: right;
}

.profile {
    background-color: aqua;
    height: 500px;
    width: 430px;
    border-radius: 7px;
    float: left;
}

#admn_btn1, #admn_btn2{
    align-items: center;
    height: 70px;
    width: 300px;
    border-radius: 10px;
    margin: 100px 20px 20px 115px;
    font-size: 25px;   
    background: transparent;
    color: white;
    border-color: aliceblue;
}

#admn_btn2 {
    margin-top: 50px;
} 

/* importing google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300&family=Josefin+Sans&family=Source+Code+Pro&display=swap');

#admn_body {
    background-color: #201922;
}

*{
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(2 1 2 / 60%);
    position: absolute;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    transition: transform 0.3s ease-in;
    border-radius: 5px;
}

.sidebar nav {
    padding: 25px;
}

.sidebar nav li {
    border: 1px solid yellow;
    list-style: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 1px 15px;
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
}



.sidebar nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main {
    /* background-color: yellow; */
    width: 85vw;
}

.container {
    display: flex;
}


.infoContainer {
    /* background-color: rgb(143, 136, 149); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}


.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.cross {
    margin-left: 155px;
}


/* media query */
@media (max-width: 1100px) {
    .devPic {
        display: none;
    }

    .intro, .blogContainer, .contactForm {
        margin: 50px 8px;
    }
}