body {
    margin: 0;
    padding: 0;
}

.parent {
    background-color: rgb(221, 226, 216);
    border-radius: 5px;
    position: absolute;
    width: 800px;
    top: 40%;
    margin-top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.left_panel {
    background-color: rgb(33, 32, 38);
    color: aliceblue;
    height: 970px;
    width: 300px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.profile_pic {
    /* background-color: blue; */
    height: 170px;
    width: 170px;
    margin: 10px 60px;
}

.info {
    /* background-color: green; */
    background-color: #212026;
    width: 260px; 
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    height: 730px;
}

.infoX {
    font-size: 30px;
}

#avatar {
    height: 170px;
    width: 170px;
    border-radius: 90px;
}
 

.hr_line_left {
    background-color: #cfac08;
    height: 3px;
    width: 260px;
    border-radius: 10px;
}

.hr_line_right {
    background-color: black;
    height: 2px;
    width: 430px;
    border-radius: 10px;
}

.phone {
    display: flex;
    align-items: center;
    align-content: center;
}

.phn_num {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#phone {
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
    height: 35px;
}

#major_in, #ref_name, #exp_date {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    height: 10px
}

#exp_date {
    font-size: 15px;
}


#phn_num {
    font-weight: normal;
    font-size: 12px;
    margin-top: -15px;
}

#skill {
    font-weight: normal;
    font-size: 15px;
    margin-top: 30px;
    height: 35px;
    margin-left: 10px;

}

.phone_skill {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: -10px;
}

.right_panel {
    float: right;
    /* background-color: rgb(186, 53, 53); */
    width: 490px;
    margin-right: 2px;
    height: 970px;
}

.name {
    background-color: #fecb00;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    width: 455px;
    border-radius: 5px;
}

#name {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}


.exp_achivement_ref {
    background-color: rgb(255, 190, 12);
    height: 696px;
    width: 480px;
    margin-left: 5px;
    margin-top: 25px;
}

.right_info {
    /* background-color: green; */
    width: 455px;
    margin-left: 30px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    height: 770px;
}


.vertical_line {
    height: 620px;
    width: 3px;
    background-color: #5656685e;
    margin-left: 10px;
    margin-top: 275px;
    float: left;
    border-radius: 120px;
}



.achivement_left {
    height: 165px;
    width: 210px;
    background-color: blueviolet;
    float: left;
}

.achivement_right {
    height: 165px;
    width: 210px;
    background-color: rgb(153, 121, 183);
    float: right;
    margin-right: 25px;
}


.exp_left, .exp_right {
    /* background-color: blueviolet; */
    width: 210px;
    float: left;
    height: 165px;
}

.exp_right {
    float: right;
    margin-right: 25px;
}

.phn_mail {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#professorMail {
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
    height: 35px;
}


#about_me {
    font-size: 18px;
    margin-left: 10px;
}


.dates {
    height: 120px;
    width: 150px;
    float: left;
    margin-left: 10px;
    /* background-color: aqua; */
}

.exps {
    height: 120px;
    width: 270px;
    float: right;
    margin-right: 25px;
    /* background-color: #9979b7; */
    display: flex;
    flex-direction: column;
}

#job_details {
    font-size: 15px;
    font-weight: normal;
}

.expX {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-top: -15px;
}

#exp_details {
    font-size: 13px;
    margin-top: -12px;
}

.contact {
    margin-top: 16px;
    font-size: 30px;

}

#btnX {
    height: 30px;
    width: 90px;
    margin-top: 900px;
}

#section_title {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}