body {
    margin: 0;
    padding: 0;
}

.parent {
    background-color: rgb(127, 112, 112);
    height: 920px;
    width: 800px;
    margin-top: 20px;
    margin-left: 260px;
    border-radius: 10px;
}


.left_panel {
    background-color: rgb(34, 42, 42);
    height: 905px;
    width: 300px;
    float: left;
    margin-left: 5px;
    margin-top: 5px
}


.profile_pic {
    background-color: blue;
    height: 170px;
    width: 170px;
    margin: 10px 60px;
}

.info {
    background-color: green;
    height: 710px;
    width: 260px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

.infoX {
    margin-top: 50px;
    font-size: 30px;
}

#avatar {
    height: 170px;
    width: 170px;
    border-radius: 90px;
}
 

.hr_line_left {
    background-color: white;
    height: 2px;
    width: 260px;
    border-radius: 10px;
}

.hr_line_right {
    background-color: white;
    height: 2px;
    width: 430px;
    border-radius: 10px;
}

.phone {
    display: flex;
    align-items: center;
    align-content: center;
}

.phn_num {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#phone {
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
    height: 35px;
}


#phn_num {
    font-weight: normal;
    font-size: 10px;
    margin-top: -15px;
}

#skill {
    font-weight: normal;
    font-size: 15px;
    margin-top: 30px;
    height: 35px;
    margin-left: 10px;

}

.phone_skill {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: -10px;
}

.right_panel {
    float: right;
    background-color: rgb(186, 53, 53);
    height: 890px;
    width: 490px;
    margin-right: 2px;
    margin-top: 5px;
}

.name {
    height: 150px;
    width: 485px;
    background-color: aqua;
    margin-left: 3px;
    margin-top: 15px;
}

#name {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}


.exp_achivement_ref {
    background-color: rgb(255, 190, 12);
    height: 696px;
    width: 480px;
    margin-left: 5px;
    margin-top: 25px;
    /* flex-direction: column; */
    /* display: flex; */
}

.right_info {
    background-color: green;
    height: 710px;
    width: 455px;
    margin-left: 30px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}