body {
    margin: 0;
    padding: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}







.parent {
    background-color: rgb(247, 247, 247);
    height: 925px;
    width: 800px;
    margin-top: 20px;
    margin-left: 220px;
    border-radius: 5px;
    color: black;
}


.left_panel {
    background-color: rgb(30, 32, 55);
    color: aliceblue;
    height: 925px;
    width: 308px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.profile_pic {
    /* background-color: blue; */
    height: 170px;
    width: 170px;
    margin: 10px 60px;
}

.info {
    /* background-color: green; */
    height: 710px;
    width: 290px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

.infoX {
    margin-top: 20px;
    font-size: 30px;
}

#avatar {
    height: 170px;
    width: 170px;
    border-radius: 90px;
}


.hr_line_left {
    background-color: rgb(15, 12, 12);
    height: 2px;
    width: 260px;
    border-radius: 10px;
}

.hr_line_right {
    background-color: rgb(9, 0, 0);
    height: 2px;
    width: 430px;
    border-radius: 10px;
}

.the_sec {
    display: flex;
    align-items: center;
    align-content: center;
}

.sub_sec {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#phone, #addr, #mail {
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
    height: 35px;
}

#icon {
    margin-top: 20px;
    height: 35px;
}


#qualification {
    font-weight: normal;
    font-size: 13px;
    margin-top: 20px;
    height: 35px;
}


#phn_num, #mail_acc, #address {
    font-weight: normal;
    font-size: 12px;
    margin-top: -15px;
}

#uni_name {
    font-size: 11px;
    margin-top: -15px;
    font-weight: bold;
    font-style: italic;
}

#skill {
    font-weight: normal;
    font-size: 15px;
    margin-top: 30px;
    height: 35px;
    margin-left: 10px;

}

.phone_skill {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: -10px;
}

.right_panel {
    /* background-color: rgb(186, 53, 53); */
    float: right;
    height: 905px;
    width: 490px;
    margin-right: 2px;
}

.bio {
    /* background-color: aqua; */
    height: 150px;
    width: 455px;
    margin-left: 28px;
    margin-top: 15px;
}

.name {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 32, 55);
    height: 60px;
    text-align: center;
    width: 430px;
    border-radius: 7px;
}


.exp_achivement_ref {
    background-color: rgb(255, 190, 12);
    height: 696px;
    width: 480px;
    margin-left: 5px;
    margin-top: 25px;
}

.right_info {
    /* background-color: green; */
    height: 710px;
    width: 455px;
    margin-left: 34px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}


.vertical_line {
    height: 500px;
    width: 3px;
    background-color: #5656685e;
    margin-left: 15px;
    margin-top: 220px;
    float: left;
    border-radius: 120px;
}



.achivement_left {
    height: 165px;
    width: 210px;
    background-color: blueviolet;
    float: left;
}

.achivement_right {
    height: 165px;
    width: 210px;
    background-color: rgb(153, 121, 183);
    float: right;
    margin-right: 25px;
}


.exp_left,
.exp_right {
    background-color: blueviolet;
    height: 115px;
    width: 210px;
    float: left;
    margin-top: -3px;
}

.exp_right {
    background-color: rgb(153, 121, 183);
    float: right;
    margin-right: 25px;
}

.phn_mail {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#professorMail {
    font-weight: normal;
    font-size: 15px;
    /* margin-top: 20px; */
    height: 35px;
}


.input_text {
    margin-top: 5px;
    width: 200%;
    height: 25px;
    background-color: white;
    font-size: 17px;
    border-radius: 5px;
}

.input_text2 {
    width: 80%;
    background-color: white;
    font-size: 15px;
    border-radius: 5px;

}

.input_text21 {
    height: 25px;
}

.input_text22 {
    margin-top: 5px;
    width: 210px;
    height: 25px;
    font-size: 15px;
}

.input_text223 {
    width: 210px;
    height: 55px;
    font-size: 15px;
}

.input_text22:hover {
    background-color: rgb(185, 202, 217);
}

.input_text21:hover {
    background-color: rgb(185, 202, 217);
}

.input_text2:hover {
    background-color: rgb(185, 202, 217);
}

.input_text:hover {
    background-color: rgb(185, 202, 217);
}



#major_in,
#ref_name,
#exp_date {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    height: 10px;
}

.expX {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-top: -15px;
}

#exp_details {
    font-size: 13px;
    margin-top: -12px;
}

.dates {
    /* background-color: aqua; */
    height: 70px;
    width: 135px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.experience {
    /* background-color: bisque; */
    margin-top: 2px;
    height: 110px;
}

#ref_name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

#exp_date {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

#exp_date {
    /* background-color: blue; */
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    height: 50px;
    width: 275px;
}

#company_name {
    /* background-color: blue; */
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    height: 30px;
    width: 275px;
    padding-top: 3px;
}

#position {
    font-weight: normal;
    font-size: 15px;
    margin-top: 1px;
    height: 35px;
    font-style: italic;
}


.contentExp {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

#section_title {
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.skill_container {
    display: grid;
    /* columns koita thakbe seta eikhan theke adjust korish */
    grid-template-columns: auto auto auto;
    margin-left: 0px;
    width: 400px;
}

.skill_1 {
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.education {
    margin-top: 40px;
}