.design{

display:flex;
background-color: rgb(22, 133, 230);

height: 800px;
width: 800px;
border-radius: 10px;
padding: 5px;
}
.text_area{
margin-top: 10px;
height: 100px;
width: 793px;

}
.text_box1{
margin-top: 5px;
    height: 50px;
width: 390px;
}
.con{
margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}