.design{

display:flex;
background-color: rgb(22, 133, 230);

height: 800px;
width: 800px;
border-radius: 10px;
padding: 5px;
}
.text_area{
margin-top: 10px;
height: 100px;
width: 793px;

}
.text_box1{
margin-top: 5px;
    height: 50px;
width: 390px;
}
.con{
margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.i1{
position: absolute;
height: 50px;
border-radius: 50px;
top: 0%;
left: 10%;
border: 5px solid green;
}
.i4{
    position: absolute;
    height: 50px;
    border-radius: 50px;
    top: 0%;
    left: 40%;
    border: 5px solid green;
    }
    .i2{
        position: absolute;
        height: 50px;
        border-radius: 50px;
        top: 0%;
        left: 20%;
        border: 5px solid green;
        }
        .i3{
            position: absolute;
            height: 50px;
            border-radius: 50px;
            top: 0%;
            left: 30%;
            border: 5px solid green;
            }
            .h3{
                position: absolute;
               
                width: 10%;
            
                top: 30%;
                left: 30%;
                border: 5px solid green;
                }
                .h1{
                    position: absolute;
                   
                    width: 10%;
                
                    top: 30%;
                    left: 30%;
                    border: 5px solid green;
                    }
                    .h2{
                        position: absolute;
                       
                        width: 10%;
                    
                        top: 30%;
                        left: 30%;
                        border: 5px solid green;
                        }
                        .h4{
                            position: absolute;
                           
                            width: 10%;
                        
                            top: 30%;
                            left: 30%;
                            border: 5px solid green;
                            }