body{

    background-color:white; 
   margin: 0;
}
.user_card{
    background-color: rgb(247, 236, 236) ;
height: 105vh;
width: 20%;
padding-top: 35px;
color: black;
text-decoration: none;


}
ul{
  
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

ul li a{
    display: block;
    color: black;
text-decoration: none;
padding: 8px 16px;
margin-left: 0px;
font-size: 25px;

}
ul li a:hover{
    display: block;
color: aliceblue;
background-color: #2d4c71;



}
.sidebar{
    display: flex;
    
    
    }
    .user_card2{
     height: auto;
        width: 80%;
      
                color: white;
            }
            .user_profile_photo{
        
                height: 120px;
                width:120px;
                border-radius: 60px;
                
            }
.top_flex{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.user_name{
font-size: 35px;
text-align: center;
}

.user_card2{
    
    display:flex;

justify-content: center;


}
h1{
 text-align: center;
font-size: 30px;
padding: 10px;
}


.contain{
    display: flex;
    margin-left: 10px;
}


.container{
    background-color:black;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

footer{

flex-direction: column;
display: flex;
background-color: rgb(0, 5, 5);
color: aliceblue;
justify-content: center;
align-items: center;

}
.card{
    background-color: transparent;
    border-radius: 10px;
    height: 320px;
    width: 270px;
   
    color: white;
   
    text-decoration: none;
   
    border: 2px solid ;
    border-color: chocolate;
   
   
   
}
.card:hover{
    height: 330px;
    width: 280px;
   
    cursor: pointer;
    transition: .35s;
    background-color: rgb(66, 63, 63);


    color:black;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) brightness(1.2);
    border-radius: 10px;
    

}
.card:hover > .in_card{
        margin: 10px;
        
        
        
        
}



.cardtext{
    display: grid;
    font-size: 30px;
    width: 250px;
    height: 180px;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
color: chocolate;

   
   
   }
   .cardtext:hover{
    color: black;
 
 
    
    
    }


    .course{
        justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    
    margin-top: 25px;
    
    
    }
    .in_card{
        display: flex;
        justify-content: center;
        background-color: chocolate;
        
        
        
        
        }
        .in_card:hover{
        
            margin: 10px;
        
        }
        .cover_photo{
        height: 20%;
        width: 70%;
        overflow: hidden;
        background-color: white;
        justify-content: center;
        align-items: center;

        }
        .profile_photo{
            height: 200px;
            width: 200px;
            position: absolute;
            background-color: white;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border: 1px solid wheat;
            
            top: 4%;
            left: 35%;
            z-index: 2;
    
            }

            .profile_size{

                height: 200px;
                width: 200px;
                border-radius: 100px;
            }
            .cover_size{

                height: 230px;
                width: 1000px;
               
            }
        .newsfeed{
              position: absolute;
              height: 90%;
              width: 56%;
              margin-bottom: 20px;
              top: 20%;
              left: 32%;
              z-index: 1;
                background-color: aliceblue;
                color:black;
        }
        .main_pro{
position: absolute;
top: 2%;
left: 32%;

            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        .pro_name{

font-size: 35px;
font-weight: 600;

        }
        .pro_occupation{
            font-size: 25px;
            font-weight: 300;

            
        }
       .work{
        position: absolute;
        height: 39%;
        width: 47%;
        top: 20%;
        left: 2%;
      
        background-color: rgb(255, 255, 255);
          
       }
       .education{
        position: absolute;
        height: 39%;
        width: 47%;
        top: 20%;
        left: 51%;
      
        background-color: rgb(255, 255, 255);
          
       }
       .skills{
        position: absolute;
        height: 39%;
        width: 47%;
        top: 60%;
        left: 2%;
      
          background-color: rgb(255, 255, 255);
          
       }
       .personal{
        position: absolute;
        height: 39%;
        width: 47%;
        top: 60%;
        left: 51%;
      
        background-color: rgb(255, 255, 255);
          
       }
       .ski_img{
        position: absolute;
        height: 50px;
        top: 0%;
        left: 41.5%;
       }
       .ski_title{
        position: absolute;
        height: 50px;
        top: 11%;
        left: 41.5%;
        font-size: 25px;
        
       }
       .ski_skills{
        position: absolute;
        height: 50px;
        top: 45%;
        left: 3.5%;
        font-size: 25px;
       }
       .work_title{
        position: absolute;
        height: 50px;
        top: 10%;
        left: 35.5%;
        font-size: 25px;


       }
       .edu_title{
        position: absolute;
        height: 50px;
        top: 10%;
        left: 35.5%;
        font-size: 25px;


       }
    .in_img{

        position: absolute;
        height: 50px;
        top: 0%;
        left: 0%;
    }
    .uni1_img{
        position: absolute;
        height: 50px;
        top: 30%;
        left: 2%;


    }
    .uni2_img{
        position: absolute;
        height: 50px;
        top: 60%;
        left: 2%;

    }
    .list_edu{
        position: absolute;
        
        top: 25%;
        left: 20%;

    }
    .ex_{
        position: absolute;
        
        top: 25%;
        left: 25%;
    }
    .ex1_img{
        position: absolute;
        height: 50px;
        top: 30%;
        left: 4%;

    }
    .ex2_img{
        position: absolute;
        height: 50px;
        top: 65%;
        left: 4%;

    }
    .pr_title{
        position: absolute;
        height: 50px;
        top: 11%;
        left: 28%;
        font-size: 25px;
        
       }
       .pr1{
        position: absolute;
font-size: 20px;
top: 30%;
left: 15%;

       }
       .pr2{
        position: absolute;
font-size: 20px;
top: 46%;
left: 15%;

       }
       .pr3{
        position: absolute;
font-size: 20px;
top: 62%;
left: 15%;

       }
       .ski_btn{

        padding: 5px;
        font-size: 20px;
        margin-top: 3px;
        border-radius: 10px;
        background-color: rgb(0, 149, 255);
       }
       .pr_i1{
        position: absolute;
height: 30px;
top: 36.5%;
left: 5%;

       }
       .pr_i2{
        position: absolute;
height: 30px;
top: 52%;
left: 5%;

       }
       .pr_i3{
        position: absolute;
height: 30px;
top: 66%;
left: 5%;

       }