body{

    
    margin: 0;
 }
 .user_card{
  
   
 height: 100vh;
 width: 20%;
 padding-top: 35px;
 color: rgb(0, 1, 2);
 text-decoration: none;
 }
 ul{
   
     list-style-type: none;
     padding: 0;
     margin: 0;
     padding-top: 50px;
 }
 
 ul li a{
     display: block;
 color: rgb(0, 2, 4);
 text-decoration: none;
 padding: 8px 16px;
 margin-left: 0px;
 font-size: 25px;
 
 }
 ul li a:hover{
     display: block;
 
 background-color:  rgb(241, 245, 237);;
 
 
 
 }
 .sidebar{
     display: flex;
     
     
     }
     .user_card2{
         height: 100vh;
         width: 80%;
        
                 color: white;
             }
             .user_profile_photo{
         
                 height: 120px;
                 width:120px;
                 border-radius: 60px;
                 
             }
 .top_flex{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 }
 .user_name{
 font-size: 35px;
 text-align: center;
 }
 
 .user_card2{
 
 background-color: rgb(241, 245, 237);
 
 }
 .container{
 
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 25px;
 
 }
 .contain{
     
 display: grid;
 grid-template-columns: 1fr 1fr ;
 gap: 20px;
 
 }
 .card{
   
    height: 310px;
    width: 350px; /* Set the height of your card */
     background-color: rgba(255, 255, 255, 0.15); /* Set a translucent background color */
     backdrop-filter: blur(10px); /* Apply the blur effect for the glass look */
     border-radius: 10px; /* Add some rounded corners to the card */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
     overflow: hidden;
     transition: box-shadow 0.3s ease-in-out;
 }
 .btnL{
  text-align: center;
 margin-left: 45%;
 margin-top: 8px;margin-bottom: 5px;
 background-color: transparent;
 border-radius: 5px;
 color: red;
 font-size: 30px;
 padding: 10px;
 animation: glowing-border 2s infinite;
 }
 h3{
color: black;
font-size:35px ;
text-align: center;
margin-top: 0px;

 }
 .card:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);


 }
 .img_flex{
display: flex;
justify-content: center;


 }
 .card_img{

height: 50px;
width: 50px;
justify-content: center;
align-items: center;
justify-items: center;
 }

.label{
  color: black;
  font-size:35px ;
  text-align: center;



}
 
@keyframes glowing-border {
    0% {
      border-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    50% {
      border-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }
    100% {
      border-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
  }