.Road_map{  
    padding-top: 20px;
   color: black;
   display: flex;
   flex: 1;
   justify-content: center;
   font-size: 30px;
   background-color: rgb(251, 251, 251);
   }
   .back_b{
    margin-left: 25px;
font-size: 35px;
padding: 10px;
background-color: transparent;
color: rgb(232, 192, 12);
animation: glowing-border 2s infinite;
 }
   
   .playlist{  
       color: black;
       display: flex;
       flex-grow: inherit;
     
      
       justify-content: center;
       font-size: 30px;
      
       background-color: rgb(254, 253, 251);
      
      }
      .channel{  
       background-color: black;
       color: black;
       display: flex;
       justify-content: center;
       font-size: 30px;
       background-color: chocolate;
      
      }
      .contain_page{
   
       background-color: white;
      
       display: flex;
       justify-content: center;
       flex: 1;
       
       }
   
   .container_page{
   
   
       background-color:white;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr  ;
       gap: 20px;
       margin-bottom: 0;
     
       margin-top: 0;
   
  





   
   
   }
   
   .dam_button{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 45%;
    background-color: rgb(188, 248, 188);
transition: .45s;


   }
   .dam_button:hover{
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(92, 251, 92);



   }
   
   .card_page{
       background-color:white;
       border-radius: 20px;
       height: 200px;
       width: 300px;
       margin-top: 10px;
       color: rgb(237, 229, 229);
       margin-bottom: 20px;
      
   
       
   }
   
   
   .card_page:hover{
      
      
       height:210px;
       width: 320px;
    transition: .35s;
       color: rgb(243, 237, 237);
       
      
   
      
   
   
   }
   
   
   
   iframe{
       height: 200px;
       width: 300px;
      border-radius: 10px;
      
   }
   
   
   iframe:hover{
       height:210px;
       width: 320px;
    transition: .35s;
       
      
      
   }
   @media screen and (min-width:0px) and (max-width: 400px) {
       .container_page{
           
           grid-template-columns: 1fr;
       }
      
              
       .card_page{
         
           height: 180px;
           width: 280px;
         
          
       
           
       }
       iframe{
           height: 180px;
           width: 280px;
          
       }
       
       
   
       .playlist{  
     
          
           font-size: 15px;
          
          
          }
          .channel{  
     
          
           font-size: 15px;
          
          
          }
          .Road_map{  
     
          
           font-size: 15px;
          
          } 
   
          .nav_home{
         
           font-size: 12px;
           
         
       }
       
       .nav_course{
           font-size: 12px;
         
       }
       
       .nav_contact{
           font-size: 12px;
           
       }
   
   
       .f_logo{
           color: azure;
           font-size:13px ;
       }
       .r_logo{
           color: chocolate;
           font-size:8px ;
       }
       .r_logo:hover{
        
           color: white;
           
           }
       
           .f_logo:hover{
               color: chocolate;
               
           }
   
   
   
       .nav_home:hover{
           cursor: pointer;
          
          font-size: 13px;
          transition: .35s;
          
          }
          
          .nav_course:hover{
           cursor: pointer;
          
           font-size: 13px;
           transition: .35s;
             
             }
          
             .nav_contact:hover{
               cursor: pointer;
          
          font-size: 13px;
          transition: .35s;
             }
          
   
   
   }
   
   
   
   @media screen and (min-width:400px) and (max-width: 419px) {
       .container_page{
           
           grid-template-columns: 1fr;
       }
      
              
       .card_page{
         
           height: 180px;
           width: 280px;
         
          
       
           
       }
       iframe{
           height: 180px;
           width: 280px;
          
       }
       
       
   
       .playlist{  
     
          
           font-size: 15px;
          
          
          }
          .channel{  
     
          
           font-size: 15px;
          
          
          }
          .Road_map{  
     
          
           font-size: 15px;
          
          } 
   
          .nav_home{
         
           font-size: 15px;
           
         
       }
       
       .nav_course{
           font-size: 15px;
         
       }
       
       .nav_contact{
           font-size: 15px;
           
       }
   
   
       .f_logo{
           color: azure;
           font-size:20px ;
       }
       .r_logo{
           color: chocolate;
           font-size:15px ;
       }
       .r_logo:hover{
        
           color: white;
           
           }
       
           .f_logo:hover{
               color: chocolate;
               
           }
   
   
   
       .nav_home:hover{
           cursor: pointer;
          
          font-size: 16px;
          transition: .35s;
          
          }
          
          .nav_course:hover{
           cursor: pointer;
          
           font-size: 16px;
           transition: .35s;
             
             }
          
             .nav_contact:hover{
               cursor: pointer;
          
          font-size: 16px;
          transition: .35s;
             }
          
   
   
   }
   @media screen and (min-width: 420px) and (max-width: 634px) {
       .container_page{
           
           grid-template-columns: 1fr;
       }
       .f_logo{
           color: azure;
           font-size:20px ;
       }
       .r_logo{
           color: chocolate;
           font-size:15px ;
       }
       .r_logo:hover{
        
           color: white;
           
           }
       
           .f_logo:hover{
               color: chocolate;
               
           }
       
       .playlist{  
     
          
           font-size: 16px;
          
          
          }
          .channel{  
     
          
           font-size: 16px;
          
          
          }
          .Road_map{  
     
          
           font-size: 16px;
          
          
          }
          .nav_home{
         
           font-size: 15px;
           
         
       }
       
       .nav_course{
           font-size: 15px;
         
       }
       
       .nav_contact{
           font-size: 15px;
           
       }
   
   
   
       .nav_home:hover{
           cursor: pointer;
          
          font-size: 16px;
          transition: .35s;
          
          }
          
          .nav_course:hover{
           cursor: pointer;
          
           font-size: 16px;
           transition: .35s;
             
             }
          
             .nav_contact:hover{
               cursor: pointer;
          
               font-size: 16px;
          transition: .35s;
             }
   
   
       
   }
   
   @media screen and (min-width: 635px) and (max-width: 960px) {
       .container_page{
           
           grid-template-columns: 1fr 1fr ;
          
       }
   
   
       
       .playlist{  
     
          
           font-size: 20px;
          
          
          }
          .channel{  
     
          
           font-size: 20px;
          
          
          }
          .Road_map{  
     
          
           font-size: 20px;
          
          
          }
      
   }
   
   @media screen and (min-width: 960px) and (max-width: 1300px) {
       .container_page{
           
           grid-template-columns: 1fr 1fr 1fr;
       }
      
   }
   
   @media screen and  (min-width: 1660px) {
       .container_page{
           
           grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       }
       .course{
          
       gap: 20px;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      
       
       
       }
   }