body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  nav {
    margin-left: 0px;
    display: flex;
    background-color: white;
    justify-content: center;
    padding-right: 40px;
  
    width: 100%;
  }
  
  nav ul li {
    display: inline;
  }
  nav ul li a {
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  nav ul li a:hover {
    text-decoration: none;
    color: #243b55;
    font-size: 26px;
  }
  #car {
margin-top:1%;
margin-left: 10%;
margin-right: 10%;
  }
  .imgcar{
height: 420px;
width: 100%;

  }
  #Live_search{
    border-radius: 50px;
    height: 40px;
    width: 250px;
    padding: 5px;
    border: 1px solid black;
font-size: larger;
text-align: center;

  }
  #Live_search::active{
   background-color: antiquewhite;
   border: 1px solid rgb(86, 58, 58);
  }

  .course_container{



  }
  .course_contain{


    
  }
  .course_card{


    
  }