body {
    margin: 0;
  background-color: aliceblue;
  }
  nav {
    margin-left: 0px;
    display: flex;
    background-color: white;
    justify-content: center;
    padding-right: 40px;
  
    width: 100%;
  }
  
  nav ul li {
    display: inline;
  }
  nav ul li a {
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  nav ul li a:hover {
    text-decoration: none;
    color: #243b55;
    font-size: 26px;
  }
  #car {
margin-top:1%;
margin-left: 10%;
margin-right: 10%;
  }
  .imgcar{
height: 420px;
width: 100%;

  }
  #Live_search{
    border-radius: 50px;
    height: 40px;
    width: 250px;
    padding: 5px;
    border: 1px solid black;
font-size: larger;
text-align: center;

  }
  #Live_search::active{
   background-color: antiquewhite;
   border: 1px solid rgb(86, 58, 58);
  }

  .course_container{



  }
  .course_contain{


    
  }
  .course_card{


    
  }
 


.container{
   
    display: flex;
    
    
}


.card{
    background-color: transparent;
    border-radius: 10px;
    height: 320px;
    width: 270px;
   
    color: white;
   
    text-decoration: none;
   
    border: 2px solid ;
    border-color: chocolate;
   
   
   
}
.card:hover{
    height: 330px;
    width: 280px;
   
    cursor: pointer;
    transition: .35s;
    background-color: rgb(66, 63, 63);

text-decoration: none;
    color:black;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) brightness(1.2);
    border-radius: 10px;
    

}
.card:hover > .in_card{
        margin: 10px;
        
        
        
        
}



.cardtext{
    display: grid;
    font-size: 30px;
    width: 250px;
    height: 180px;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
color: chocolate;
text-decoration: none;

   
   
   }
   .cardtext:hover{
    color: black;
 
 
    
    
    }


    .course{
        justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-bottom: 30px;
   
    margin-top: 25px;
    
    
    }
    .in_card{
        display: flex;
        justify-content: center;
        background-color: chocolate;
        
        
        
        
        }
        .in_card:hover{
        
            margin: 10px;
        
        }
        .course_title{

text-align: center;

        }
        a{

          text-decoration: none;
        }