body {
  margin: 0;
  background-color:  chocolate;
}
nav {
  margin-left: 0px;
  display: flex;
  background-color:  rgb(16, 6, 6);
  justify-content: center;
  padding-right: 40px;
position: relative;
z-index: 25;
margin-top:0px;
  width: 100%;
}

nav ul li {
  display: inline;
}
nav ul li a {
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  color: rgb(250, 245, 245);
}
nav ul li a:hover {
  text-decoration: none;
  color: #243b55;
  font-size: 26px;
}
#car {
  margin-top:1%;
  margin-left: 10%;
  margin-right: 10%;
    }
    .imgcar{
  height: 420px;
  width: 100%;
  
    }
#Home {
  height: 100vh;
  width: 100%;
  padding-top: 5%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#Service {
  padding-top: 5%;
  height: 100vh;
  width: 100%;
  background-color:  chocolate;
}

#About {
  padding-top: 10%;
  height: 100vh;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
html {
  scroll-behavior: smooth;
}
.moto {
  font-size: 45px;
  padding-top: 20%;
  font-weight: 700;
  opacity: 0.8;
  color: white;
}
.Contact_container {
  display: flex;
  justify-content: center;
}
.Contact_contain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
}
.Contact_card {
  height: 250px;
  width: 350px;
  justify-content: center;
}
.Contact_text_box {
  height: 50px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
}
.Contact_btn_submit {
  margin-top: 5px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: rgb(115, 115, 242);
}
#Contact_message {
  margin-top: 10px;
  border-radius: 10px;
}
footer {
  height: 250px;
  font-size: 35px;
  text-align: center;
  color: white;
  background-color: black;
}
.Home_image {
  height: 100%;
  width: 70%;
  animation: glowing-border 2s infinite;
  margin-top: 9%;
}
.Home_container {
  display: flex;
}
.Home_contain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.Home_card {
  height: 100vh;
  width: 100%;
}
.Home_image_flex {
  display: flex;
  justify-content: center;
}
.Home_moto_flex {
  display: flex;
  justify-content: center;
}
.Home_get{
  background-color: #011122;
  height: 50px;
  width: 200px;
  font-size: 25px;
  color: white;
  border-radius: 7px;
  margin-left: 2%;
  animation: glowing-border 2s infinite;
}
.Home_get:hover {
  background-color: beige;
  transition: 0.45s;
  cursor: pointer;
  color: black;
}
.line {
  height: 3px; /* Set the height of the line */
  background-color: black; /* Set the color of the line */
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.moto_service {
  font-size: 45px;

  font-weight: 700;
  opacity: 0.8;
  color: white;
}
.sign_text {
  height: 40px;
  width: 270px;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.15); /* Set a translucent background color */
  backdrop-filter: blur(10px); /* Apply the blur effect for the glass look */
  font-size: 20px;
  overflow: hidden;
}
.sign_container {
  display: flex;

  justify-content: center;
  align-items: center;
}
.sign_contain {
  display: grid;

  grid-template-columns: 1fr;
  justify-content: center;
  gap: 25px;
}
.sign_card {
  margin-top: 80px;
  height: 500px;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.15); /* Set a translucent background color */
  backdrop-filter: blur(10px); /* Apply the blur effect for the glass look */
  border-radius: 10px; /* Add some rounded corners to the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.btn_signup {
  height: 35px;
  width: 95px;
  background-color: rgb(227, 230, 221);
  border-radius: 8px;
  color: black;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}
.btn_signup:hover {
  background-color: rgb(58, 128, 70);

  border: 2px solid green;
  cursor: pointer;
}

.sign_text:hover {
  background-color: antiquewhite;
}



.Course_container{
padding-top: 28px;
  display: flex;
  justify-content: center;
      justify-items: center;
      
  
  }
  .Course_contain{
  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      
      gap: 20px;
      }
  .Course_card{
  
          height: 250px;
          width: 210px;
          border: 2px solid red;
          background-color: aliceblue;
          background: rgba(255, 255, 255, 0.3); /* Transparent white background */
          border-radius: 8px;
          padding: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          text-align: center;
          backdrop-filter: blur(10px);
          }
          .Course_card:hover{
  
            height: 255px;
            width: 215px;
            box-shadow: 0 0 20px rgba(237, 3, 3, 0.7);
            transition: .45s;
            cursor: pointer;
            }

.red{

color: red;

}
iframe{
height: 200px;

width: 100%;
border-radius: 10px;
}


.Course_click{
  
  padding: 9px;
  background-color: #243b55;
  margin-top: 7%;
}
.Course_p{
margin-top: 37.5%;


}
.up{
text-align: center;
color: yellow;
font-size: 35px;

}
.otp{
position: absolute;
top: 30%;
left: 12%;

}
.verify{
  position: absolute;
  top: 45%;
  left: 35%;
  
  }
  .resend{
    position: absolute;
    top: 65%;
    left: 35%;
    
    }
    .text_resend{
      position: absolute;
      top: 55%;
      left: 2%;
    }
.log_link{

  color: rgb(63, 47, 182);
  text-decoration: none;
}
@keyframes glowing-border {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
}


